.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  padding: 30px;
}

.App-content {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  margin-top: 20px;
}

.NotesPage-root {
  height: 100%;
}

.ant-col.note_page-right_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note_page-content_item--small {
  height: 36%;
  border: 1px solid red;
}
.note_page-content_item--large {
  /* height: 60%; */
  height: 70%;
}

.Diary-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.DiaryPage-root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.diary_page-title {
  padding-left: 2px;
  font-size: 18px;
  font-weight: 600;
}

.diary_page-input_iction {
  cursor: pointer;
  font-size: 25px;
}

.diary_page-input_iction.red {
  color: red;
}

.diary_page-input_iction.green {
  color: green;
}

.Pagination-root {
  display: flex;
  align-items: center;
  margin: 0 -8px;
}

.pagination-item {
  margin: 0 8px;
}

.dnd-action_icon {
  cursor: pointer;
  font-size: 24px;
}

.ant-space {
  width: 100%;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.ant-form.ant-form-horizontal {
  width: 100%;
}

.box--gutter15 {
  margin: -15px 0;
}
.box--gutter15 .gutter_item {
  margin: 15px 0;
}

.is_dragging {
  opacity: 0.5;
}

.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.character_color span div span div[title="#ffffff"] {
  border: 1px solid #d8d8d8;
}

.dnd-paddint_top_10 {
  padding-top: 10px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  cursor: pointer;
  width: 4px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: none;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #586d9b;
  border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  /* background-color: #253861; */
}
